<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BaitulMaalKu - Home</title>
  <meta name="description" content="BaitulMaalKu - Situs untuk amal dan sosial">
  <meta name="keywords" content="Baitul Maal, amal, sosial, kemanusiaan, zakat, infaq, shodaqoh">
  <meta name="author" content="BaitulMaalKu">
  <meta name="robots" content="index, follow">

  <!-- Favicons -->
  <link href="assets/img/logo.png" rel="icon"> 
  <!--public\assets\img\logo.png-->

  <link href="assets/img/logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <!-- Bootstrap JavaScript (Bootstrap.bundle.min.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/kalkulator.css" rel="stylesheet">
    <link href="assets/css/rekening.css" rel="stylesheet">
    <link href="assets/css/campaign.css" rel="stylesheet">
</head>

<body onload="changeZakatCategory()">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <%- include('partials/navbar') %>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>BaitulMaalKu</h1>
      <h2>Aku untuk umat</h2>
      <a href="#about" class="btn-get-started scrollto">Yuk Donasi !</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What We Do Section ======= -->
    <section id="what-we-do" class="what-we-do">
      <div class="container",>
          <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch kalkulator">
              <div class="icon-box">
                  <div class="icon"><i class="bx bx-calculator"></i></div>
                  <h4><a href="#" data-bs-toggle="modal" data-bs-target="#zakatModal">Kalkulator Zakat</a></h4>
                  <p>
                    Hitung zakat dengan mudah!   
                  </p>
              </div>
          </div>
          
  
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                  <div class="icon-box" style="width: 100%;">
                      <div class="icon"><i class="bx bx-credit-card-front"></i></div>
                      <h4><a href="#" data-bs-toggle="modal" data-bs-target="#rekeningModal">Rekening Kami</a></h4>
                      <p>Dapatkan detail rekening dan informasi pembayaran zakat dan infaq.</p>
                  </div>
              </div>
  
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="icon-box" style="width: 100%;">
                      <div class="icon"><i class="bx bx-file"></i></div>
                      <h4><a href="/tataKelola">Tata Kelola Lembaga</a></h4>
                      <p>Pelajari prinsip dan prosedur tata kelola yang kami terapkan.</p>
                  </div>
              </div>
  
              <div class="col-lg-3  col-md-6 d-flex align-items-stretch">
                <div class="icon-box" style="width: 100%;">
                    <div class="icon"><i class="bx bx-briefcase-alt"></i></div>
                      <h4><a href="/mitra-kami">Mitra Kami</a></h4>
                      <p>Temukan informasi mengenai mitra-mitra yang bekerja sama dengan kami.</p>
                  </div>
              </div>
          </div>
      </div>
  </section><!-- End What We Do Section -->

<!--======= Campaign Section ======= -->
<section id="campaign" class="campaign section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Yuk sedekah!</h2>
      <p>Mari berbagi kebahagiaan dengan mendukung program-program di bawah ini</p>
    </div>
    <div class="campaigns">
      <% campaigns.forEach(function(campaign) { %>
        <div class="campaign">
          <img src="<%= campaign.imgSrc %>" alt="<%= campaign.title %>">
          <div class="campaign-info">
            <span class="badge">Campaign</span>
            <h3><%= campaign.title %></h3>
            <div class="progress">
              <div class="progress-bar" style="width: <%= campaign.progressPercentage %>%;"></div>
            </div>
            <p class="amount-collected"><%= campaign.amountCollected %> dari <%= campaign.goalAmount %></p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#donasiModal" data-campaign="<%= campaign.title %>">Donasi</button>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</section>




  <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Program Kami</h2>
        <p>Berikut ini adalah beberapa program kami</p>
      </div>

      <div class="row">
              <!-- Program Pintara -->
      <div class="col-md-6">
        <div class="icon-box">
          <div class="icon-img" style="position: absolute;">
            <img src="assets\img\program/pintara.png" alt="Pintara Icon" width="130" height="130">
          </div>
          <div class="icon-content">
            <h4><a href="#">Pintara <br> (Program Inisiasi Bina Petani Sejahtera)</a></h4>
            <p>Program pemberdayaan petani lokal dalam mengelola budidaya kentang dan sawah secara inovatif dan terpadu</p>
          </div>
        </div>
      </div>

        <div class="col-md-6 mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon-img" style="position: absolute;">
              <img src="assets\img\program\akademi.png" alt="Akademi Berdaya Icon" width="130" height="130">
            </div>
            <h4><a href="#">Akademi Berdaya</a></h4>
            <p>Program pemberdayaan ekonomi dengan pembinaan skill menjahit bagi masyarakat usia produktif</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <div class="icon-img" style="position: absolute;">
              <img src="assets\img\program\ramadhan.png" alt="Wakaf Icon" width="130" height="130">
            </div>
            <h4><a href="#">RamadhanKu</a></h4>
            <p>Program di bulan suci Ramadhan bertujuan untuk menjadikan Ramadhan produktif dan kolaboratif bersama BaitulMaalKu.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <div class="icon-img" style="position: absolute;">
              <img src="assets\img\program\abah.png" alt="Abah Emak Icon" width="130" height="130">
            </div>
            <h4><a href="#">Muliakan Abah Emak</a></h4>
            <p>Program yang di berikan kepada Abah Emak usia lanjut setiap bulan guna memenuhi kebutuhan asasi.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <div class="icon-img" style="position: absolute;">
              <img src="assets\img\program\qurban.png" alt="QurbanKu Icon" width="130" height="130">
            </div>
            <h4><a href="#">QurbanKu</a></h4>
            <p>BaitulMaalKu, menghadirkan project QurbanKu sebagai fasilitas para Mudhohi untuk melaksanakan ibadah qurban, agar masyarakat pesisir dan pelosok dapat merasakan momen keberkahan 'Idul Adha.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <div class="icon-img" style="position: absolute;">
              <img src="assets/img/program/quran.png" alt="Al Qur'an Icon" width="130" height="130">
            </div>
            <h4><a href="#">Tebar dan Pembinaan Qur'an dan Iqro di pelosok nusantara</a></h4>
            <p>Project ini sebagai gerakan pengentasan buta huruf hijaiyah di pelosok dan pesisir nusantara.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <div class="icon-img" style="position: absolute;">
              <img src="assets\img\program\yatim.png" alt="Yatim Icon" width="130" height="130">
            </div>
            <h4><a href="#">Bahagiakan Yatim</a></h4>
            <p>Program yang di berikan kepada Yatim setiap bulan guna memenuhi kebutuhan asasi.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="icon-box">
            <div class="icon-img" style="position: absolute;">
              <img src="assets\img\program\sehat.png" alt="sehat Icon" width="130" height="130">
            </div>
            <h4><a href="#">MO-SIGAPKU</a></h4>
            <p>MO-SIGAPKU digunakan untuk memenuhi kebutuhan pendistribusian program charity dan kesehatan diwilayah pelosok dan pesisir yang sulit dijangkau.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->
  
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Tentang Kami</h3>
            <p>
              
            </p>
            <ul class="about-li">
              <li><i class="bx bx-check-double"></i> BaitulMaalKu didirikan atas semangat dakwah di bidang keuangan sosial islam terutama pada isu zakat, infaq dan wakaf. Bermula dari penyelenggaraan kegiatan bertema islam sejak tahun 2017, akhirnya mengukuhkan legalitas sebagai yayasan dan LAZ yang telah terbit pada tahun 2019.</li>
              <li><i class="bx bx-check-double"></i> BaitulMaalKu secara resmi menjadi lemabaga amil zakat asli Karawang pertama yang legal berdasarkan rekomendasi BAZNAS dan SK dari Kementerian Agama. Selanjutnya pada tahun 2020 dan 2021 BaitulMaalKu menjalankan aktivitas operasional berlandaskan 4 pilar program. </li>
              <li><i class="bx bx-check-double"></i> Tak sampai disitu , BaitulMaalKu terus berinovasi dengan menyajikan program - program yang sesuai dengan kebutuhan masyarakat dan sejalan dengan tujuan pembangunan berkelanjutan (SDG's)</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container">

        <div class="row skills-content">
          <div class="col-lg-6">
            <h3>Visi</h3>
            <p>Menjadi lembaga pengelola ZISWAF yang profesional dan terkemuka di Indonesia</p>
          </div>

          <div class="col-lg-6">
            <h3>Misi</h3>
            <ol class="about-misi">
              <li>Membangun kesadaran ZISWAF terhadap masyarakat di Indonesia</li>
              <li>Menjadi Lembaga Amil Zakat yang amanah dan akuntabel.</li>
              <li>Membangun sinergi pengelolaan program santunan dan pemberdayaan umat yang sesuai dengan kebutuhan Asasi Manusia</li>
            </ol>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        <br>
        <div class="row">
    
          <div class="col-lg-4 col-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p>Mitra Kami</p>
            </div>
          </div>
    
          <div class="col-lg-4 col-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
              <p>Program</p>
            </div>
          </div>
    
          <div class="col-lg-3 col-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="45000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Penerima Manfaat</p>
            </div>
          </div>
    
        </div>
      </div>
    </section><!-- End Counts Section -->
    

    <!-- ======= Services Section ======= -->
 

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="section-title">
          <h2>Dokumentasi Kegiatan</h2>
          <p>Berikut ini adalah beberapa dokumentasi kegiatan kami</p>
        </div>
    
        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Semua</li>
              <li data-filter=".filter-pintara">Pintara</li>
              <li data-filter=".filter-akademi-mnk">Akademi Berdaya PT MNK</li>
              <li data-filter=".filter-akademi-cimb">Akademi Berdaya CIMB Niaga</li>
              <li data-filter=".filter-muliakan">Muliakan Abah Emak</li>
              <li data-filter=".filter-donasi">Kemanusiaan</li>
              <li data-filter=".filter-tebar">Tebar dan Pembinaan Qur'an</li>
            </ul>            
          </div>
        </div>
        
        <div class="row portfolio-container" id="portfolio-container">
          <% 
            const categoryCounts = {};
            imageData.forEach((project, index) => {
              const category = project.category.toLowerCase();
              if (!categoryCounts[category]) {
                categoryCounts[category] = 1;
              } else {
                categoryCounts[category]++;
              }
        
              if (categoryCounts[category] <= 2) {
          %>
              <div class="col-lg-4 col-md-6 portfolio-item filter-<%= category %> wow fadeInUp">
                <div class="portfolio-wrap">
                  <figure>
                    <img src="<%= project.imageUrl %>" class="img-fluid" alt="<%= project.title %>">
                    <a href="<%= project.imageUrl %>" class="link-preview portfolio-lightbox" data-gallery="portfolioGallery" title="Preview"><i class="bx bx-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bx bx-link"></i></a>
                  </figure>
            
                  <div class="portfolio-info">
                    <h4><a href="#"><%= category %></a></h4>
                  </div>
                </div>
              </div>
          <% 
              }
            }); 
          %>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
            <a href="/dokumentasi"class="text-center"type="submit"><button>Lihat Semua Dokumentasi</button></a>
          </div>
        </div>
        </div>
        </section>
        
    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Kontak Kami</h2>
          <p>Jangan ragu untuk menghubungi kami. Kami ada untuk umat!</p>
        </div>

        <div class="row mt-5 justify-content-center">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Jl. Jenderal Ahmad Yani (seberang Mall Cikampek)<br>Indonesia, 41373</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>baitulmaalku@gmail.com<br>careline@baitulmaalku.com</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+62 811 1600 660 (Admin)</p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <form action="/send-email" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="g-recaptcha" data-sitekey="6Lf17SIqAAAAAPJ5IMGORjsV4dIZE61Z70NY7tQu"></div>
              <div class="my-3">
                <div class="sent-message" id="success-message">Pesan anda telah dikirim. Terima Kasih!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>            
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
   <%- include('partials/footer') %>
  </footer><!-- End Footer -->


  <!-- modal-->


  <!-- Modal -->
  <div class="modal fade" id="zakatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kalkulator Zakat</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Isi kalkulator zakat di sini -->
                <form id="zakat-form">
                    <label for="category">Jenis Zakat:</label>
                    <select id="category" name="category" class="form-control" onchange="changeZakatCategory()">
                      <option value="#" disabled selected hidden>Jenis Zakat</option>
                      <option value="income">Zakat Penghasilan</option>
                      <option value="savings">Zakat Tabungan</option>
                      <option value="trade">Zakat Perdagangan</option>
                      <option value="gold">Zakat Emas</option>
                      <option value="pertanian">Zakat Pertanian</option>
                  </select>

                    <!-- Opsi untuk Zakat Penghasilan -->
                    <div id="income-options" style="display:none;">
                      <label for="income-amount">Jumlah (IDR):</label>
                      <input type="number" id="income-amount" name="income-amount" required>                  
                        <label for="income-type">Periode Pendapatan:</label>
                        <select id="income-type" name="income-type" class="form-control">
                            <option value="monthly">Perbulan</option>
                            <option value="yearly">Pertahun</option>
                        </select>
                        <label for="note-income">Note:</label>
                        <p id="note-income">Wajib bayar: Tidak Wajib Membayar Zakat, Tapi Bisa Berinfak</p>
                    </div>

                    <!-- Opsi untuk Zakat Tabungan -->
                    <div id="savings-options" style="display:none;">
                        <label for="savings-amount">Jumlah (IDR):</label>
                        <input type="number" id="savings-amount" name="savings-amount" required>
                        <label for="interest">Bunga (Opsional):</label>
                        <input type="number" id="interest" name="interest">
                        <label for="note-savings">Note:</label>
                        <p id="note-savings">Tidak Wajib Membayar Zakat, Tapi Bisa Berinfak</p>
                    </div>

                    <!-- Opsi untuk Zakat Perdagangan -->
                   <!-- Opsi untuk Zakat Perdagangan -->
<div id="trade-options" style="display:none;">
  <label for="trade-amount">Jumlah Perdagangan (IDR):</label>
  <input type="number" id="trade-amount" name="trade-amount" required>

  <!-- Tambahkan elemen formulir lainnya sesuai kebutuhan -->
  
  <label for="note-trade">Note:</label>
  <p id="note-trade">Tidak Wajib Membayar Zakat, Tapi Bisa Berinfak</p>
</div>

<!-- Opsi untuk Zakat Pertanian -->
<!-- Opsi untuk Zakat Pertanian -->
<div id="pertanian-options" style="display:none;">
  <!-- ... (elemen input lainnya) ... -->

  <label for="hasil-pertanian">Jenis Hasil Pertanian:</label>
  <select id="hasil-pertanian" name="hasil-pertanian" class="form-control">
      <option value="padi">Hasil Pertanian Padi</option>
      <option value="lainnya">Hasil Pertanian (lainnya)</option>
      <option value="ternak">Hasil Hewan Ternak</option>
  </select>

  <label for="hasil-amount">Jumlah Hasil Pertanian (IDR):</label>
  <input type="number" id="hasil-amount" name="hasil-amount" required>

    <label for="hutang">Hutang (Opsional):</label>
    <input type="number" id="hutang" name="hutang">


  <!-- Tambahkan elemen formulir lainnya sesuai kebutuhan -->

  <label for="note-pertanian">Note:</label>
  <p id="note-pertanian">Tidak Wajib Membayar Zakat, Tapi Bisa Berinfak</p>
</div>


<!-- Opsi untuk Zakat Emas -->
<div id="gold-options" style="display:none;">
  <label for="gold-amount">Jumlah Emas (gram):</label>
  <input type="number" id="gold-amount" name="gold-amount" required>

  <!-- Tambahkan elemen formulir lainnya sesuai kebutuhan -->
  
  <label for="note-gold">Note:</label>
  <p id="note-gold">Tidak Wajib Membayar Zakat, Tapi Bisa Berinfak</p>
</div>


                    <button type="button" style="margin-top: 10px;" class="btn btn-primary" onclick="calculateZakat()">Hitung Zakat</button>
                </form>

                <div id="result"></div>
                <!-- Akhir kalkulator zakat -->
            </div>
        </div>
    </div>
</div>


<!-- Modal Rekening Zakat -->
<div class="modal fade" id="rekeningModal" tabindex="-1" role="dialog" aria-labelledby="rekeningModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="rekeningModalLabel">Rekening Zakat</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Silakan transfer zakat Anda ke salah satu rekening di bawah ini:</p>
            <div>
              <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Bank_Syariah_Indonesia.svg" alt="Bank 1 Logo" class="bank-logo">
               Zakat: 716-4164-165 a.n. Baitulmaalku
          </div>
          <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Bank_Syariah_Indonesia.svg" alt="Bank 1 Logo" class="bank-logo">
             Infaq: 712-8975-675 a.n. Baitulmaalku
        </div>
          <div style="margin-top: 2px;">
              <img src="https://i.pinimg.com/originals/9b/e7/bf/9be7bfcf0f85a247f60d897d7eff7240.png" alt="Bank 2 Logo" class="bank-logo">
              Wakaf: 9876-543-210 a.n. Baitulmaalku
          </div>
        </div>
      </div>
  </div>
</div>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- The Modal -->
<div class="modal fade" id="donasiModal" tabindex="-1" role="dialog" aria-labelledby="donasiModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="donasiModalLabel">Formulir Donasi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Nominal Sedekah -->
        <div>
          <h4>Pilih Nominal Sedekah</h4>
          <button class="btn btn-outline-primary nominal-option" data-value="50000">Rp 50.000</button>
          <button class="btn btn-outline-primary nominal-option" data-value="100000">Rp 100.000</button>
          <button class="btn btn-outline-primary nominal-option" data-value="500000">Rp 500.000</button>
          <button class="btn btn-outline-primary nominal-option" data-value="1000000">Rp 1.000.000</button>
        </div>

        <!-- Custom Nominal -->
        <div class="form-group mt-3">
          <label for="customNominal">Nominal Custom:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Rp</span>
            </div>
            <input type="number" class="form-control" id="customNominal" placeholder="Masukkan nominal">
          </div>
        </div>

        <!-- Metode Pembayaran -->
        <div class="form-group mt-3">
          <label for="paymentMethod">Pilih Metode Pembayaran</label>
          <select class="form-control" id="paymentMethod">
            <option value="BSI">BSI</option>
            <option value="CIMB">CIMB</option>
            <option value="QRIS">QRIS</option>
          </select>
        </div>

        <!-- Data Diri -->
        <div class="form-group mt-3">
          <label for="fullName">Nama Lengkap:</label>
          <input type="text" class="form-control" id="fullName" placeholder="Nama Lengkap">
        </div>
        <div class="form-group">
          <label for="phoneNumber">No WhatsApp:</label>
          <input type="text" class="form-control" id="phoneNumber" placeholder="No WhatsApp">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="message">Pesan dan Doa (opsional):</label>
          <textarea class="form-control" id="message" rows="3" placeholder="Tulis pesan atau doa"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
        <button type="button" id="submitDonation" class="btn btn-primary">Kirim Donasi</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Invoice -->
<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="invoiceModalLabel">Invoice Pembayaran</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>Pembayaran donasi untuk program <strong id="programName">Nama Program</strong></p>
              <p>Total: <strong id="totalAmount">Rp 50.000</strong></p>
              <p>PENTING! Mohon transfer tepat sampai 3 angka terakhir agar dapat memudahkan dalam proses verifikasi data.</p>
              <p>Silahkan Transfer ke :</p>
              <div id="bankInfo">
                  <!-- Bank info will be injected here -->
              </div>
              <p>Rincian :</p>
              <p>Sedekah: Rp <span id="donationAmount">50.000</span><br>
              Kode Unik: <span id="uniqueCode">000</span><br>
              Total: Rp <span id="totalWithCode">50.000</span></p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
          </div>
      </div>
  </div>
</div>


  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  

  <script src="assets/js/kalkulator.js"></script>
  <script src="assets/js/donasi.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
      $('form.php-email-form').submit(function (e) {
        e.preventDefault();
        
        var formData = $(this).serialize();
        
        $.ajax({
          type: 'POST',
          url: '/send-email',
          data: formData,
          success: function (response) {
            console.log(response);
            // Tindakan setelah menerima respons dari server
            // Menampilkan pesan sukses
            $('#success-message').fadeIn().delay(3000).fadeOut();
          },
          error: function (error) {
            console.log(error);
            // Tindakan jika ada kesalahan
          },
        });
      });
    });
  </script>
   <script>
    document.getElementById('send-message-button').addEventListener('click', function() {
      var recaptcha = document.querySelector('.g-recaptcha');
      recaptcha.style.display = 'block'; // Tampilkan reCAPTCHA
      grecaptcha.execute(); // Jalankan reCAPTCHA
    });

    // Anda juga bisa menambahkan event listener untuk submit form jika diperlukan
    document.getElementById('contact-form').addEventListener('submit', function(event) {
      event.preventDefault(); // Mencegah submit form otomatis
      // Lakukan verifikasi reCAPTCHA dan submit form jika valid
      var response = grecaptcha.getResponse();
      if (response.length === 0) {
        alert('Please complete the reCAPTCHA.');
      } else {
        // Lakukan verifikasi reCAPTCHA di sisi server
        this.submit(); // Submit form setelah reCAPTCHA terverifikasi
      }
    });
  </script>


 

    
  

</body>

</html>